{% load static %}

<!doctype html>
<html lang="pt-BR">

<head>
    {% include 'home/partials/_head.html' %}

    <title>Math's Burguer | Login</title>

    <link rel="stylesheet" href="{% static 'home/css/login_styles.css' %}">

</head>

<body>
{% include 'home/partials/_header.html' %}

    <section class="login-background">
        <div class="main-content container">
            <div class="login">
                <h6>Faça Login e peça os melhores lanches!</h6>

                <div class="login-form">
                    <form method="POST" action="">
                        {% csrf_token %}

                        <label for="user">Usuário</label>
                        <input type="text" name="user" id="user" placeholder="Seu usuário">

                        <label for="password">Senha</label>
                        <input type="text" name="password" id="password" placeholder="Sua senha">

                        <button class="login-button" type="submit">Enviar</button>
                    </form>

                    <div class="register">
                        <p>Ainda não possui uma conta? Cadastre-se <a href="/cadastro/">AQUI</a></p>
                    </div>

                </div>
            </div>

            <div class="login-img">
                <img src="{% static 'home/img/backgrounds/pessoa-comendo.svg' %}" alt="Hambúrguer.">
            </div>
        </div>
    </section>

{% include 'home/partials/_footer.html' %}
{% include 'home/partials/_to_top_button.html' %}
</body>
</html>