{% load static %}

<footer id="footer" class="footer white-bg">
    <p>
        Feito por Matheus Afinovicz
    </p>

    <div class="footer-icons">
        <p>
            <a rel="nofollow" target="_blank" href="https://github.com/MatheusAfinovicz/MathsBurguer">
                <img class="footer-img" src="{% static 'img/icons/githubIcon.png' %}" alt="github icon"/>
            </a>
        </p>

        <p>
            <a rel="nofollow" target="_blank" href="https://www.linkedin.com/in/matheusafinovicz/">
                <img class="footer-img" src="{% static 'img/icons/linkedinIcon.png' %}" alt="linkedin icon"/>
            </a>
        </p>

        <p>
            <a rel="nofollow" target="_blank" href="https://www.instagram.com/matheus_afinovicz/">
                <img class="footer-img" src="{% static 'img/icons/instagramIcon.png' %}" alt="instagram icon"/>
            </a>
        </p>
    </div>
</footer>