.messages-div {
    background: white;
    padding: 1rem;
}

.messages {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    list-style-type: none;
    border-radius: 1rem;
}

.success {
    background: lightgreen;
}

.error {
    background: #e35a4e;
    color: white;
}
