.adresses-content {
    min-height: 100vh;
    padding: 2rem 2rem;
}

.form-grid {
    display: grid;
    justify-content: center;
}

.form-group {
    flex: 1 1 100px;
}

.form-group label {
    display: block;
    margin: 1rem 0 0 0;
}

.form-group input,
.form-group textarea {
    border: none;
    background: white;
    padding: 0.5rem;
    width: 60%;
    font-size: 2rem;
    outline: none;
}

.form-group textarea {
    height: 90%;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 10px 2px var(--secondary-color);
}

.form-group button {
    border: 0.5rem solid white;
    background: none;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-top: 2rem;
}

.form-group button:hover {
    background: white;
    color: var(--primary-color);
}

legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
