{% extends 'base.html' %}
{% load static %}

{% block title %}
    Endereços
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/adresses_styles.css' %}">
{% endblock %}

{% block content %}
    <section class="main-bg adresses-content">
        <h1>Seus Endereços</h1>
        <div class="adresses">
            <div class="adress">
                    <p>Nome, Rua, Número</p>
                </div>
            {% for adress in adresses %}
                <div class="adress">
                    <p>{{ adress.name }}, {{ adress.street }}, {{ adress.number }}</p>
                </div>
            {% endfor %}
            <a href="{% url 'new_adresses' %}">Adicionar novo</a>
        </div>
    </section>
{% endblock %}
