{% extends 'base.html' %}
{% load static %}

{% block title %}
    Cadastro
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/cadastro_styles.css' %}">
{% endblock %}

{% block content %}
    <section class="cadastro-background">
        <div class="main-content container">
            <div class="cadastro-img">
                <img src="{% static 'img/backgrounds/cadastro-burguer.svg' %}" alt="Hambúrguer.">
            </div>
            <div class="cadastro">
                <div class="cadastro-form">
                    <h6>Cadastre-se para saborear nossos irresistíveis sabores.</h6>
                    <form method="POST" action="/cadastro/">
                        {% csrf_token %}
                        <div class="cadastro-inputs">
                            <label for="full_name">Nome</label>
                            <input type="text" name="full_name" value="{{ request.POST.full_name }}" placeholder="Nome">
                        </div>

                        <div class="cadastro-inputs">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" value="{{ request.POST.email }}" placeholder="E-mail">
                        </div>

                        <div class="cadastro-inputs">
                            <label for="password">Senha</label>
                            <input type="password" name="password" placeholder="Senha">
                        </div>

                        <div class="cadastro-inputs">
                            <label for="confirm_password">Repita sua senha</label>
                            <input type="password" name="confirm_password" placeholder="Repita sua senha">
                        </div>
                        <button class="cadastro-button" type="submit">Enviar</button>
                    </form>
                    <div class="login">
                        <p>Já possui uma conta? Faça login <a href="/login/">AQUI</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
