{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user.first_name }} Menu's
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard_styles.css' %}">
{% endblock %}

{% block content %}
    <section class="section intro-content">
        <div class="navigation main-bg">
            <h3 id="#">Olá</h3>
            <h3>{{ user.first_name }}!</h3>
            <div class="links-div">
                <h1>Menu</h1>
                <div class="links">
                    <p><a href="#">Histórico de Pedidos</a></p>
                    <p><a href="#">Meus Endereços</a></p>
                    <p><a href="#">Carrinho</a></p>
                </div>
            </div>
        </div>
        <div class="content white-bg">
            <h6>Está esperando o que para fazer seu pedido?</h6>

            <section class="display">
                <section class="offers">
                    <h1>Promoções</h1>
                    <div class="products">

                    </div>
                </section>

                <section class="sanduichs">
                    <h1>Destaques</h1>
                    <div class="products">

                    </div>
                </section>

                <section class="drinks">
                    <h1>Bebidas</h1>
                    <div class="products">

                    </div>
                </section>
            </section>

        </div>
    </section>
{% endblock %}
